*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
@media (max-width:720px) {
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        
     }
     .fadded-text{
        display: none;    
     }
     .fadded-text1{
        margin-left: -73px;
     }
     .fadded-text2{
        scale: 0.6;
        margin-bottom: -53px;       
     }
     .hero{
        margin-top: 20%;
        scale: 0.7;
        margin-left: 20%;
       
      }
      .text{
        padding: 3%;
      }
      .project-container{
        scale: 0.7;
        margin-bottom: -102px;
        margin-top: -102px;
      }

}
  @media (max-width:440px) {
   
    .hero{
      scale: 0.7;
      margin-left: 6%;
     
    }
   
 .hero-section{
    display: flex;
    flex-direction: column-reverse;
     margin-top: 20%;
     margin-bottom: 25%;
 }
 
 .text{
    padding: 16%;
    margin-left: -10%;
    line-height: 25px;
    
 }
 .button-group{
    margin-top: 10%;
 }
 
 .project-card{
  
    margin-left: -163px;
  
   
 }
 .project-container {
  scale: 0.4;
  margin-bottom: 50%;
 margin-top: -100%;
}
 
 
   
    #pt2{
        margin-top: -30px;
    }
    .skills-section{
        top: -644px;
    }
   .skill-card{
    
     margin-left: -10%;
     display: flex;
     flex-direction: column;
    
   }
   .skill-image{
    height: 8vh;
     width: 6vw;
    
 
 }
   .skill-text{
    width: 190%;
    margin-top: -64%;
   }
   .skill-div{
     width: 130%;
     margin-top: 7%;

   
   }
   .form-section{
   margin-top:-634px;
   }
    .navitem1{
    
   scale: 0.8;
    }
    .fadded-text1{
     margin-left: -83px; 
     scale: 0.4;
    }
  
    .fadded-text2{
        scale: 0.4;
        top: 10%;
      right: 36%;
    
    }
}

#wrapper{
  position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(77, 73, 73);
    
  
}
 
 
.P{
    color: crimson;
  font-size: 180%;
}

.container{
    margin: 0 auto;
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%; 
   color: aliceblue;
     
}
.logo-container{
    display: flex;
    margin-left: 3vw;
 
}
 
.navitem{
    
    display: flex;
    gap: 1rem;
    margin-right: 3%;

   
}
.a{
    color: white;
 
}
 

.navitem1{
    display: flex;
    gap: 1rem;
   margin-left: 63vw;
  
}
.ft-wd{
      color: aliceblue;
}
a{
    text-decoration: none;
    font-size:2vw;
    color: blue;
}
.navitem div:hover{
    transition: 0.8s ;
    font-weight: bold;

}
.hero-section{
    position: relative;
    margin-top: 3%;
    height: 76vh;
     display: flex;
    justify-content: space-evenly;
}
.text{
    margin-top: 5%;
    width: 456px;
     display: flex;
     flex-direction: column;
    z-index: 5;
    gap: 6%;
    color: aliceblue;
}
button{
    height: 30px;
    width: 100px;
    color: aliceblue;
    background-color: red;
    cursor: pointer;
}
.button-group:hover{
    background-color: green;
}
.hero{
    position: relative;
    height: 300px;
    width: 320px;
    margin-top: 1rem;
    margin-right: 8rem;
    padding: 2rem;
    filter: grayscale(1);
    border: 1px solid gray;
    transition: all 3s;
    z-index: 5;
     animation: scaleimage 5s linear infinite;
}
.fadded-text{
    position: absolute; 
   width: 243vw;
   scale: 0.8;
    user-select: none;
    font-size: 6rem;
    color: rgb(211,211,211);
    bottom: 1%;
    margin-left: 105%;
    font-weight: bold;
     z-index:10;
 
}
.role{
    color: blue;
    font-size: 35px;
    line-height: 45px;
}
@keyframes scaleimage {
    0%{
   filter: grayscale(0);
   transform:scale(1);
    }
    50%{
        filter: grayscale(0);
        transform:scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter: grayscale(0);
        transform:scale(1);
    }
} 
.project-section{
    background-color: rgb(231, 231,231);
}
.page-hd{
    color: red;
    font-size: 90px;
    text-align: center;
}
.project-container{
    
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 60px;
}
 .project-content:hover  {
    transform: scale(1.1);
}




.project-card{
   
    width: 675px;
    height:315px;
 
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto;
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card-left{
    left: 10%;
} 

  .project-card-right{
    right: 10%;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #1f1f1f9a;
    transform: scale(1);
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    transform: scale(0);
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform-origin: left;
    transition: all 0.4s;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-size: 150px;
    font-weight: 600;
    color: rgb(255,255,255);
    z-index: 10;
    opacity: 0;
}
.project-card:hover .project-number{
    opacity: 1;
}
.project-number-right{
    right: -38px;
    top: -53px;
}

.project-number-left{
    left: -38px;
    top: -53px;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding: 2em;
    bottom:20%;
    z-index: 5;
    transition: all 1s;
}
.project-content-left{
    left: 15%;
}
.project-content-right{
    right: 15%;
}



.project-skills-container{
    width:10vw;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.project-skills{
    font-size: 8vw;
    font-weight: bold;
    line-height: 3rem;

} 

.skills-section{
    position: relative;
   height: 75vh;
   background-color: darkseagreen;
  z-index: 5;
}
.skill-div{
    display: grid;
    grid-template-columns: repeat(3,2fr);
     gap: 3vw;
}
.skill-image{
 
    height: 52px;
    width: 40px;

}
.skill-image:hover{
   transition:all 0.6s ease-in-out;
   transform: scale(1.4);
   cursor: pointer;
   
 }
.skill-tail
{
    border-radius: 32%;

}
.fadded-text1{
    position: absolute;  
    user-select: none;
    font-size: 7rem;
    color: rgb(211,211,211);
    bottom: 1%;
    left: 68%;
    font-weight: bold;
    animation: blobanimate 3s linear infinite;
    z-index: -5;
}
@keyframes blobanimate{
    50%{
      transform: translateX(7%);
    }
}
.fadded-text2{
    position: absolute;  
    user-select: none;
    font-size: 7rem;
    color: rgb(211,211,211);
    bottom: 1%;
    left: 18%;
    font-weight: bold;
  

}

.skill-card{
    width: 87vw;
    padding: 12vh;
    display: flex;
}
.skill-text{
    padding: 2vw;
     cursor:pointer;
}
.text-color{
    color: red;
}
.form-section{
    background-color:azure;
    padding: 2%;

}
.heading{
    color: brown;
    margin-left: 41vw;
   
}
.leagend{
    margin-left: 40px;
}
.form-input{
    padding: 3%;
}
.search{
    width: 60%;
    height: 50%;
    padding: 0.7%;
    border-radius: 5rem;
    border-color: aquamarine;
    font-size: 124%;
}
.search1{
    width: 60%;
    height: 50%;
    padding: 0.7%;
 
    border-color: aquamarine;
}


.footer{
    position: relative;
    height: 200px;
    background-color: #281d2c;
}
.text-ft{
    display: flex;
    height: 30px;
    width: 30px;
    gap: 10%;
    margin-left: 10px;
    cursor: pointer;
    
}


#project1{
    background-image: url("edetech.webp");
}
#project2{
    background-image: url("userlogin.jpg");
}
#project3{
    background-image: url("weather.jpg");
}
#project4{
    background-image: url("razorpay.jpg");
}